DATABASE_URL=postgresql://ledgerproof:ledgerproof@localhost:5432/ledgerproof
JWT_SECRET=change-this-to-a-long-random-secret-in-production
CIRCUITS_DIR=./circuits/lending
PORT=3001
RUST_LOG=ledgerproof_backend=debug,tower_http=info
SOROBAN_CONTRACT_ID=CCWTTKOPDCVTZ2GO3MUUHE4GAR4MDFSZQDU6NRCVM4M5BTNUVRPEWVU7
STELLAR_IDENTITY=alice
STELLAR_NETWORK=testnet
