DATABASE_URL=postgresql://ledgerproof:ledgerproof@localhost:5432/ledgerproof
JWT_SECRET=change-this-to-a-long-random-secret-in-production
CIRCUITS_DIR=./circuits/lending
PORT=3001
RUST_LOG=ledgerproof_backend=debug,tower_http=info
SOROBAN_CONTRACT_ID=CDY7T3CFWRI5N44ZVVG6GEC6DBE46UASCLVYWMHMY43YVLEZ2D5UDAVT
STELLAR_IDENTITY=alice
STELLAR_NETWORK=testnet
